
<div class = "container" ng-repeat="comic in comics" style="font-family: 'Spectral', serif;">

    <div class="col-md-5 col-md-offset-1">
        <div class="row">{{comic.Title}}</div>
        <div class="row">{{comic.data.IssueNumber}}</div>
        <div class="row">{{comic.Description}}</div>
        <div class="row"><img ng-src="{{comic.Image}}/portrait_uncanny.jpg" alt="Comic Image" /></div>
        <div class="col-md-3 col-lg-offset-1"><button class="btn btn-danger" style="margin-top: 5%; margin-bottom: 25%;" ng-click="deleteComic(comic.ComicId)">Remove Comic!</button></div>
    </div>   
</div>
