<div>
    <input type="search" name="comicSearch" placeholder="Find your comics!" ng-model="searchInfo"/>
    <button type="button" class="btn btn-danger" ng-click="getComicInfo(searchInfo)">Find!</button>
</div>
<div ng-repeat="object in comicInfo">

    <div class="col-md-5 col-md-offset-1">
        <div class="row">{{object.Title}}</div>
        <div class="row">{{object.Series.Name}}</div>
        <div class="row">{{object.Description}}</div>
        <!--<img ng-src="{{object.Images.Object.Path}}"/>-->
        <button type="button" class="btn btn-danger" ng-click="addNewComicToCollection()">Add To Your Collection!</button>
    </div>
</div>  
